:root {
  background-color: #f8f9fa;
}
.featured h3 {
  margin-top: 35px;
  margin-left: 80px;
  position: relative;
}
.heading-font {
  font-family: Arvo, Georgia, Cambria, "Times New Roman", Times, serif;
}
@font-face {
  font-family: "sf_burlington_scriptregular";
  src: url("/Assets/Fonts/SF-Burlington-Script/SF_Burlington_Script-webfont.eot");
  src: url("/Assets/Fonts/SF-Burlington-Script/SF_Burlington_Script-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/Assets/Fonts/SF-Burlington-Script/SF_Burlington_Script-webfont.woff2")
      format("woff2"),
    url("/Assets/Fonts/SF-Burlington-Script/SF_Burlington_Script-webfont.woff")
      format("woff"),
    url("/Assets/Fonts/SF-Burlington-Script/SF_Burlington_Script-webfont.ttf")
      format("truetype"),
    url("/Assets/Fonts/SF-Burlington-Script/SF_Burlington_Script-webfont.svg#sf_burlington_scriptregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-size: 70px;
}
.navbar {
  background-color: #365859;
}
.img-featured {
  object-fit: cover;
  width: 500px;
  height: 460px;
}
.featured-tag {
  font-size: 20px;
  text-transform: capitalize;
  width: 200px;
  position: relative;
  margin: auto;
  margin-top: -20px;
  color: white;
  background-color: #365859;
}

.dish-title {
  text-transform: capitalize;
  font-size: 25px;
  line-height: 35px;
  padding: 15px;
  margin: 5px;
  margin-bottom: 20px;
}
.search {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  background-color: #365859;
}
.about-text {
  background-color: #365859;
  color: white;
  width: 450px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 35px;
}
.about-img {
  height: 100%;
  width: 400px;
  object-fit: contain;
}
.newstrip {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: gray, 1px;
}
